{% load static %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="{% static 'js/jquery.formset.js' %}"></script>
<div>
    <form method="post" action="{% url 'submit' %}">
        {% csrf_token %}
          <fieldset>
          <legend>Employee Details</legend>

          <div>
            {{ contact_form.management_form }}
            {% for contact in contact_form %}
             <div class="link-formset">
              {{ contact.as_p }}
            </div>
            {% endfor %}

          </div>
          <div class="">
          <button>Submit</button>
          </div>

        </fieldset>

     <script>
    $('.link-formset').formset({
        addText: 'Add Employee',
        deleteText: 'Remove Employee'
    });
</script>